
@{
    ViewBag.Title = "DOM";
}

@section scripts{
    <script src="~/Scripts/dom.js"></script>
}



<div id="wrap">
    
    <h1>HTML rakenteen manipulointi</h1>

    <p onclick="addhtml();">HTML - mitä se on?</p>

    <div id="info">Tähän tulee vastaus.</div>

</div>


<!--6. Tee tapahtumankäsittelijän avulla tekstikappaleeseen click-tapahtumaan function käynnistys.
        <p onclick....> yllä  -->
