
@{
    ViewBag.Title = "EventMod";
}


@section scripts{

    <script src="~/Scripts/eventhandler.js"></script>
}



<div id="wrap">

    <h1>Moderni tapahtumankäsittely</h1>

    <p id="xxx">HTML - mitä se on?</p>
</div>

