
@{
    ViewBag.Title = "Lomake";
}


@section head{
    <style type="text/css">
        ul {
            margin: 0 0 0 10px;
            padding: 0;
        }

        li {
            list-style: none;
            padding: 10px;
            margin: 0;
        }

        label {
            width: 7em;
            float: left;
        }

        #submit {
            margin: 0 0 0 20px;
        }
    </style>
}

@section scripts {
    <script src="~/Scripts/check.js"></script>
}



<div id="wrap">

    <h2>Lomakkeen tarkistus</h2>


    <form id="lomake" name="" method="post" action="http://teuvovaisanen.fi/PHP/formHandler.php" onsubmit="return tarkista();">

        <ul>
            <li>
                <label for="en">Etunimi</label>
                <input type="text" id="en" name="en" />
            </li>
            <li>
                <label for="sn">Sukunimi</label>
                <input type="text" id="sn" name="sn" />
            </li>
            <li>
                <label for="sp">Sähköposti</label>
                <input type="text" id="sp" name="sp" /><br />
            </li>
        </ul>
        <input id="submit" type="submit" value="Lähetä" />


    </form>
</div>


